.base {
  position: fixed;
  top: 39.33%;
  left: 4.33%;
}

.form {
  position: relative;
  top: 10rem;
}

.error {
  position: fixed;
  font-family: 'Open Sans';
  margin: 75px 0 0 25px;
  font-size: 25px;
  color: crimson;
  opacity: 0.8;
}

.errorPass {
  position: fixed;
  font-family: 'Open Sans';
  margin: 175px 0 0 25px;
  font-size: 25px;
  color: crimson;
  opacity: 0.8;
}

.passOne {
  display: block;
}

.passTwo {
  position: relative;
  top: 5rem;
}
